<table class="table">
  <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Status</th>
    <th>Action</th>
  </thead>

  <tr *ngFor="let item of allTasks">
    <td>{{item.Id}}</td>
    <td>{{item.Title}}</td>
    <td>
      <span [ngClass]="{'donestatus': item.Status=='done', 'pendingstatus': item.Status=='pending'}" > {{item.Status}} </span> </td> <!--[ngClass]="{cssClass: expression}"--> 
    <td>
      <button type="button" (click)="onDelete(item)" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</table>



  <input type="text" [(ngModel)]="Id">
  <input type="text" [(ngModel)]="Title">
  <input type="text" [(ngModel)]="Status">
  <button (click)="onAddTask()"> Add Task </button>


<br><br><br><br><br><br><br><br><br>